* {
    margin: 0;

    font-size: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    vertical-align: baseline;
    list-style: none;
}

body {
}

#main-grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 120px 1fr 60px;
    grid-gap: 0;
}

#header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-image: url("header.jpg");

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
    position: relative;
}

#search-main {
    grid-column: 3 / 9;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-main form {
    width: 90%;
    display: flex;
    justify-content: center;
}

#search-main input[type="text"] {
    width: 90%;
    border: 1px solid black;
}

#search-main button {
    border: 1px solid black;
    width: 4%;
    display: inline-block;
}

#main-navigation {
    grid-column: 3 / 9;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#main-navigation a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    transition: color 0.2s;
    margin: 0 100px;
}

#main-navigation a:hover {
    color: rgb(51, 87, 116);
}

#authorization-button {
    grid-column: 9 / 10;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#authorization-button a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    transition: color 0.2s;
    margin-left: 5px;
    margin-right: 5px;

}

#authorization-button a:hover {
    color: rgb(51, 87, 116);
}

#authorization-button button {
    margin-left: 5px;
    margin-right: 5px;
    background: none !important;
    color: rgb(245, 245, 245);
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

#authorization-button button:hover {
    color: rgb(51, 87, 116);
}

.cart {
    position: fixed;
    left: 94%;
    top: 45px;
    grid-column: 10 / 11;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

.cart a:hover {
    text-decoration: none;
    color: rgb(51, 87, 116);
    transition: color 0.2s;
}

#cart-content {
    background: black;
    color: white;
    position: fixed;
    top: 0;
    min-width: 300px;
}

#cart-content ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.single-cart-item {
    border: 1px red solid;
    margin-bottom: 5px;
}


#main-wrapper {
    display: flex;
    min-height: 1200px;
    background-color: aqua;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}

.single-product {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 18%;
    border: 1px solid rgba(0, 0, 0, 0.349);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-to-cart button {
    width: 100%;
}

.add-to-cart {
    width: 100%;
}

.product-image img {
    max-width: 200px;
    max-height: 200px;
}

#side-bar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* background-color: rgba(163, 163, 163, 0.473); */
    background: url("sidebar.jpg");
}

#footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 177, 236);
}

#registration-wrapper, #login-wrapper {
    width: 15%;
    right: 40%;
    top: 25%;
    position: fixed;
    border: 1px solid black;
    border-radius: 5px;
    padding: 40px 20px 40px 20px;
    background-color: rgb(238, 238, 238);
}

#registration-form, #login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#registration-form input {
    margin-bottom: 10px;
}

#registration-form input[type=submit] {

}

